<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-share-login</title>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js" crossorigin></script>
</head>

<body>
    <div id="app">
        <div v-if="isLogin">
            <h1>已登录</h1>
            <p>{{name}}</p>
        </div>
        <div v-else>
            <h1>未登录</h1>
            <input placeholder="请输入用户名" type="text" v-model="loginName">
            <button @click="login">登录</button>
        </div>
    </div>
</body>
<script>

    var app = new Vue({
        el: "#app",
        data() {
            return {
                name: '',
                loginName: '',
                isLogin: false
            }
        },
        methods: {
            getinfo() {
                fetch('https://mg.0231019.top/api/getInfo',{
                    mode: 'cors',
                    credentials: "include"
                })
                    .then(response => response.json())
                    .then(res => {
                        if (res.status) {
                            this.isLogin = true;
                            this.name = res.data.name
                        }
                    })
            },
            login() {
                if (!this.loginName) {

                    return
                }
                fetch('https://mg.0231019.top/api/login',{
                    method: "POST",
                    mode: 'cors',
                    credentials: "include",
                    body: JSON.stringify({
                        name: this.loginName
                    })
                })
                    .then(response => response.json())
                    .then(res => {
                        if (res.status) {
                            this.getinfo()
                        }
                    })
            }
        },
        created() {
            this.getinfo()
        }
    })
</script>

</html>
